body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  scroll-behavior: smooth;
}
h1{
  font-weight: 800;
  font-size: 55px;
  color:seashell;
  font-family: 'Oxygen', sans-serif;
}
h2{
  font-weight: 700;
  font-size: 23px;
  color:seashell;
  font-family: 'Oxygen', sans-serif;
}
p{
  font-weight: 500;
  font-size: 21px;
  font-family: 'Oxygen', sans-serif;
}
a{
  font-weight: 900;
  font-size: 24px;
  font-family: 'Oxygen', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
