.home-main-div{
  background: rgb(39,144,195);
  background: linear-gradient(49deg, rgba(39,144,195,1) 7%, rgba(151,41,223,0.9514180672268907) 67%); 
  display:flex;
  padding-top: 80px;
  height:calc(100vh - 140px);
  position:relative;
}
.home-background{
 width:100vw;
}
.home-container h1{
  margin: 0;
}
.home-welcome{
  font-size: 42px;
  position: absolute;
  left:2.0%;
  top:8%;
  text-shadow:
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}
.home-name{
font-family: 'Cinzel Decorative', cursive;
font-size: 8.5vw;
font-weight: 700;
color: lavender;
text-shadow: -1px 2px 0 #500, 1px 1px 0 #600, -1px -2px 0 #400,-1px -1px 0 #100;
position: absolute;
left: 23%;
top:27%;
}

.home-img1{
  width: 18vw;
  height:12vw;
  position:absolute;
  right:2%;
  bottom: 3%;
}

/* Media Queries for Ipad size */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
.home-main-div{
  height:80vh;
}
.home-background{
  object-fit: cover;
  }
  

.home-welcome{
  top:10%
}
.home-name{
  top:40%;
  font-size:12vw;
  left:11%;
}

.home-img1{
  width: 210px;
  height: 140px;
}

}
 
/* Media Queries for Iphone 6 7 8 size */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
.home-background{
object-fit: cover;
}

.home-welcome{
  top:15%;
  margin:0 auto;
  font-size:28px;
}

.home-name{
  top:28%;
  font-size:18vw;
  text-align: center;
  left:7%;
}
.home-img1{
  width: 120px;
  height: 75px;
}
}